<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <% if (loggedUser) {%>
        <h1>Estas loggeado</h1>
    <%}%> 

    <h1>Peliculas</h1>
    <% for(movie of movies) {%> 
    <li><a href="/detail/<%=movie.id%>"><%=movie.title%></a></li>
    <% } %> 
    <h2><a href="/create">Crear nueva pelicula </a></h2>
    <h2><a href="/users/login">Iniciar sesion </a></h2>
    <h2><a href="/users/register">Registrate </a></h2>
    <h2><a href="">Cerrar sesion</a></h2>
</body>
</html>